{{#each films}}
<div id={{id}} class="movie-card">
    <div class="movie-poster__wrapper">
        <img class="movie-poster" src="{{posterPath}}" alt="{{title}}">
    </div>
    <div class="movie-info-wrapper">
        <h3 class="movie-title">{{title}}</h3>
        <p class="movie-info">{{genres}} | {{year}}</p>
    </div>
</div>
{{/each}}